.jumbotron{
   background-color: #030073;
  text-align: center;
  color: white;


}
body{
  background-image: url(https://media.istockphoto.com/vectors/seamless-pattern-with-graduation-cap-on-blue-background-vector-id610146456?k=6&m=610146456&s=612x612&w=0&h=SRRkSLqAD_hmX3r8aMYX0Y9hy55NVbVz1LVEMmEXAzw=);


}
.footer{
  background-color: #0e1aa5;
  color: white;
  padding: 70px;
  font-weight: 400;
  padding-right: 15px;
  margin: 0px 0px 10px 0px;
}

.no-margin{
  margin: 0 auto;
}

.
#founder{
  /* text-align: center; */
  /* padding-right:70%; */
  padding-left: 5%;

}
.button-box{
  position: absolute;
  left: 10px;
  top: 10px
}
}
#about{
  font-family: serif;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmbnVBc65FPv17zJMqthP6yPXQtjmvDPw-3xRAhsrQEv6rgMrVsw);
  color: white;
  background-clip: border-box;

}

body
{
    background-color: #0a1f94;
    padding-top: 40px;
}
.form-signin {
    max-width: 280px;
    padding: 15px;
    margin:100px;
    margin-top:10px;
  }

.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.panel-default {
opacity: 0.8;
/*margin-top:30px;*/
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('http://blog.transfer-iphone-recovery.com/images/photo-with-blur-background.jpg');
    background-repeat:repeat;
  }


#fullscreen_bg{
  display: none;
}

ul{
  text-decoration:none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
<<<<<<< HEAD
h1{
font-family: "Apple Color Emoji";
}
h4{
  font-family: "Apple Color Emoji";
  font-style: italic;
}
=======


/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: auto;

   width: 100%;
   background: #161415 url(../images/bg.png) no-repeat top center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}



/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
   background-color: #333;
   display: inline-block;
}
/* .opaque { background-color: #333; } */

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 40px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;
   /* border-bottom: 1px solid white;  */

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #11ABB0; }


/* line underlying of li */
.line{
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-top: 10px;
}
li a{
  background:blue;
  padding: 20px;
  border-radius: 5px;
}


  /*CONTACT SECTION STYLES*/

#contact {
  background-color: #0727da;
/*    margin-right: 50px;*/
  margin-left: -20px;
  padding: 0;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-background-size: cover;
  background-attachment: fixed;
  font-size: 20px;
  color: #72e911;
}

  #contact .overlay {
      background-color: rgb or view ï¿¼command line instructions.
a(6, 16, 163, 0.1);
      padding-top: 90px;
      color: #fff;
/*        padding-bottom: 100px;*/
 }

/*FOOTER SECTION STYLES*/

footer {
  font-size: 25px;
  text-align: center;
  font-weight: 1000;
  background-color: rgba(11, 36, 119, 0.7);
  -webkit-background-size: cover;
  color: rgb(250, 253, 249);
  min-height: 210px;
}

  footer a, footer a:link {
      text-decoration: none;
      color:#78f313;

  }

  .owner a:link, a:hover{
      color:#09f061;
      opacity: 0.7;
  }
.owner {
      font-size: 30px;
  }

footer, .social {
  margin-top: -200px;
  padding-top: 140px;
}

.social, .fa {
  font-size: 85px;
  margin-left:5px;

}

.facebook, .instagram, .twitter, .fa {
  margin-right: 20px;
}
.carousel img{
  margin: auto;
}
.carousel-item{
  transition: -webkit-transform 0.05s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
