.jumbotron{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYCq0CocoNQcN73OchdxhzVDDgp_cX9VeCgZ0CFHfnqMoPZvKQ);
  text-align: center;
  color: white;


}
body{
  background-image: url(https://media.istockphoto.com/vectors/seamless-pattern-with-graduation-cap-on-blue-background-vector-id610146456?k=6&m=610146456&s=612x612&w=0&h=SRRkSLqAD_hmX3r8aMYX0Y9hy55NVbVz1LVEMmEXAzw=);


}
.footer{
  background-color: #000864;
  color: white;
  padding: 70px;
  margin top: 10px;


}
.btn{

}
#founder{
  /* text-align: center; */
  /* padding-right:70%; */
  padding-left: 5%;

}
#about{
  font-family: serif;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmbnVBc65FPv17zJMqthP6yPXQtjmvDPw-3xRAhsrQEv6rgMrVsw);
  color: white;
  background-clip: border-box;

}
h1{
font-family: "Apple Color Emoji";
}
h4{
  font-family: "Apple Color Emoji";
  font-style: italic;
}
