.jumbotron{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYCq0CocoNQcN73OchdxhzVDDgp_cX9VeCgZ0CFHfnqMoPZvKQ);
  text-align: center;
  color: white;


}
body{
  background-image: url(https://media.istockphoto.com/vectors/seamless-pattern-with-graduation-cap-on-blue-background-vector-id610146456?k=6&m=610146456&s=612x612&w=0&h=SRRkSLqAD_hmX3r8aMYX0Y9hy55NVbVz1LVEMmEXAzw=);
}
.content,.content1 {
  max-height:0px;
  overflow: hidden;
}
.drop,.menu {
  background-color: #4286f4;
  border-bottom: 2px solid black;
  box-shadow: 3px 3px 3px #3366cc;
  color: #ffffff;
}
.drop ul, .menu ul {
  list-style-type: none;
  padding:0px;
}
.drop ul a, .menu ul a  {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #ffffff;
}
.drop label,.menu label{
  display: block;
  cursor: pointer;
  padding:30px 0px 30px 30px;
}
input#drop,input#menu {
   display: none;
 }
 /* toggle effect*/

input:checked ~ label{
  background:url("../ha/img/download.png")no repeat left center;
}
input:checked ~ .content, input:checked ~.content1 {
  max-height: 100%;
}
.content {
  transform: scale(1);
  transition:rotate
}

/*.eric:hover .dropdown-content,.dinah:hover .menu-content {
  display: block;
}*/

.footer{
  background-color: #000864;
  color: white;
  padding: 70px;

}
.btn{

}
#founder{
  text-align: center;
  padding-right: 80%;
}
#about{
  font-family: serif;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmbnVBc65FPv17zJMqthP6yPXQtjmvDPw-3xRAhsrQEv6rgMrVsw);
  color: white;
  background-clip: border-box;

}

body
{
    background-color: #1b1b1b;
    padding-top: 40px;
}
.form-signin {
    max-width: 280px;
    padding: 15px;
    margin:100px;
    margin-top:10px;
  }

.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.panel-default {
opacity: 0.8;
/*margin-top:30px;*/
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('http://blog.transfer-iphone-recovery.com/images/photo-with-blur-background.jpg');
    background-repeat:repeat;
  }


#fullscreen_bg{
  display: none;
}

ul{
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

li a{
  background: orange;
  padding: 20px;
  border-radius: 5px;
}
