.jumbotron{
   background-color: #030073;
  text-align: center;
  color: white;


}
body{
  background-image: url(https://media.istockphoto.com/vectors/seamless-pattern-with-graduation-cap-on-blue-background-vector-id610146456?k=6&m=610146456&s=612x612&w=0&h=SRRkSLqAD_hmX3r8aMYX0Y9hy55NVbVz1LVEMmEXAzw=);

.content,.content1 {
  max-height:0px;
  overflow: hidden;
}
.drop,.menu {
  background-color: #4286f4;
  border-bottom: 2px solid black;
  box-shadow: 3px 3px 3px #3366cc;
  color: #ffffff;
}
.drop ul, .menu ul {
  list-style-type: none;
  padding:0px;
}
.drop ul a, .menu ul a  {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #ffffff;
}
.drop label,.menu label{
  display: block;
  cursor: pointer;
  padding:30px 0px 30px 30px;
}
input#drop,input#menu {
   display: none;
 }
 /* toggle effect*/

input:checked ~ label{
  background:url("../ha/img/download.png")no repeat left center;
}
input:checked ~ .content, input:checked ~.content1 {
  max-height: 100%;
}
.content {
  transform: scale(1);
  transition:rotate
}

/*.eric:hover .dropdown-content,.dinah:hover .menu-content {
  display: block;
}*/

.footer{
  background-color: #000864;
  color: white;
  padding: 70px;
  margin top: 10px;


}

#button-services{
  border-radius: 30%;

}
#button-about{
  border-radius: 30%;
}

#button-home{
border-radius: 30%;
/* scroll-behavior: smooth; */
}
#founder{
  /* text-align: center; */
  /* padding-right:70%; */
  padding-left: 5%;

}
.button-box{
  position: absolute;
  left: 10px;
  top: 10px
}
}

/* about section  */
#about{
  font-family: serif;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmbnVBc65FPv17zJMqthP6yPXQtjmvDPw-3xRAhsrQEv6rgMrVsw);
  color: white;
  background-clip: border-box;

}
h1{
font-family: "Apple Color Emoji";
}
h4{
  font-family: "Apple Color Emoji";
  font-style: italic;
}
