.jumbotron{
   background-color:#6089E9;
  text-align: center;
  color: white;
}

body{
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMSEhUTExMWFhUXGBcYFxgYGBgdFxsXHRcYFx0YFxgYHSggGBolGxUVITEiJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGxAQGy0mICUtLS8tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAL8BCAMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAFAQIDBAYHAAj/xABAEAABAgQFAgQEBAUCBAcBAAABAhEAAwQhBRIxQVFhcQYTIoEykaHwQrHB0SNSYuHxBxQzcpKiFSQ0Q1OCwhf/xAAaAQADAQEBAQAAAAAAAAAAAAABAgMEAAUG/8QALBEAAgICAgICAQIFBQAAAAAAAAECEQMhEjEEQRNRIjJhBXGhsfAjgZHB0f/aAAwDAQACEQMRAD8A4mVHKARYPtd+HhhELHgiHpgFQ1ndt21hu0E8GwpdQrIk5Un4lEFhfpqegjoFDhdFSNlkCbMAuueXv0liyfzi+Lxp5OujPm8vHi1J7+jl2V9N/wA+HhrR2PEZpmMPIkpDOMiBlbu0Aq/A5E5P/DShXKN+saH/AA6fG0zEv4tj5U06+znj8difvSGrSHt8zBHFcIVINwSnY/vA/KL/AEjDKEoumenDJGa5RehkOUX+7QvlhgSdX7iJaSmMxYQgXLa6Dkk8QtDWRicobw1SjGgWijlqyzRNmkWUUKCQ/CQxt3ieb4eRUyzNoZiphQCVyFt5yUi5KWtMAHF4ZwYqkjLgmFUoNpe93hAsguLGHKlM1wXDwo4xSiYVmjzQ5AOo2/xHUcKoekF76N0hp6e8ey6woTbq8dQBpVCp66aQhTDySR0T9+8dQRctmYuWbtEZP3+8SqNgX1ewOjQxKma2l/8AMcAa9oUHpF/CMJmVKylAsPUtX4UJ5J/SCRqESSUUiMyhYzlAEnqkaJDwyi3sDlToz5BFiCH5hSqwtcannvGhTUqsKlGZBsS1x1HBEC8VoDKmFD5ks6FN8SDoYPFoClZSCzo/tCzCCbBhw7w+TK143hfK3/z3aGUTuSImvEiEkeobH6w4oh4R8uv3rB4iuRGblzDl5WsC787Np3eFRLJLCPAkAjnWDQLGEWe3aPQuWPQGg2PUh9NPrD6enKlBI1JiRKIK4DTupagHyJfs5aKwxqTSI5MnGLkGsOR5CGRa1j13MelJJOuvMWKdBUATokgdu0WqyRLQAysxIchjY8dY9lR0j56WTb+2NqJ65aAA4CiPpx0huGzk5/Xpq47cRao8NmT1JCSlVg4fSKNfRqSsggji0FvYkUqJsakpVLcp9CnA4/zHPa+kKFFBdhp2N46AypYyLD30P5iM14ol+pJ2VtGTzMfKPL2bv4dlcJ8PTM1MRGjoMMWmWLELmXJ4l7DnrFDCKHzp8uXsS6v+UXP7RtsWUEeoWzNc7ABgD7CMEMfs9eeTpIApwuUPw3GveERhplzEzJClSpqfUFA6NDfNKlZXDm+rJ7uR9IMycOOX0rSVDYLGdPZtBDKKl6Ec3HsHeMMJE+V/vpUsJWGFXLR8KVnSckbIXuNj3jHMGZm5JeOn4bMMtZe6SCJiCGCpZ1SedS0VK7wfToyFBUUTVPLUS4Yn4Cf5k8HaElh3oeOalTOdzECwSXtezX/UQ6SjW7W0bXoI6tTf6ZypiArzHJOU9FOzR7/+dSUKYqcuQX2bX2hfhYXnVHJFJiSWCSAxI4H1aOz0n+nFKo+sbl78biDNL4Fo5bMm9gCdg7x3wuznnVaOCroprPlLGznp1imRePowYTTkLQQlkerThz/aMfW/6dy5ynlqAGYPozNmP5wZYH6BHyF7OTS9dHAv7RbpKBU1aJaLqU+g0HJ6RppGASlT5iUuUoJDjc6CCtDhwQrLKDr/ABEaBPDjaOjhbewyzpdFabRJlSUyAMssf8Qv6pk3kkbAaCGGTLA9IAA029x9IOzMHWoEoCFZubnKNgDaM9idSJZCTZrbflF2lEhGTkyQU6VWU7HRyL/tDPEuE/8Ak0r/APhmMNH8tf6BTfOK2HzsxJIR0U1/a9oO4kHo5gA1Rc72LhvlCqpRY1uMkc7CSIeExIlAbrEiZcTorZElN9IUS3LAaxOmVD/J6QaOsqmV9NYYURcMqI8kdR1lQpj0TlEegBsuTZGUkWLfL2gz4RvOXKH/AL0tUsHT1WUPygOIlpppQpK0/Em4todopF07IyjcWmaNMlaSQQQxv0i5KWPxDMAXANgU8A7RpZC5WJUpmSCJc9h5yCfxJF2OoSrURWofDE2cQhwn0guR6X/lDR6WPNBxt6PDzePNT40FsFlIfOhDJULtb7AMEq+hlz5WQkgpdQZvUrh9+kHsJ8NCTJQlavMUBrxu3baK9TLykkfEXHYcAcRiedSlcT0V47jjqS7Od1VMZiBmlkLBNwPw7OfnGI8VTP4iU6lIjq2PYmmkQtSgMyk/ZIjjNZOMxSlq1Ji2fLeOvsz+JgrLyvr+4U8C04VPUTqEt8zBzxIgixsU26v26wM8BzAmpvuG530MazxxRZwFJBbL6mGnfdozw3Fo9Cf60zkVTWFKlDKNdRaDfh7HSVeWpKC+hUP1GkBcSSHIIZSbdw7xXw28xAdnIDxjU5RkbHFSideo8IK0Fct9PUmyiAd09It4HRBPnypiVLkkjNlH/BmABQmD9YteEq9cuSETAVNZ/wASTpcfiGkDPGONrEqZLQ6ApYK1C2ZIDB97GN766MC7CGAUZk+aJs1wgki9lA6KHB3gdiWKrKjUoUTKLpUR/wBIN9zaBya+ZNpwhAzqCQPTdXIJ9nglhmDS5dIUmaCVkKnDUBSS4SnoOOsdf0CvbJ5OKrlTZXqf0gE903fszRLWeIFLCkp1SwB1+Jrn3jN4nKVImBYIKSkt39Thj93gfhuKiYUJIy+r1c/YEK5K6H4as0uJ1i/Ln5FEmapMu27OGHc3LRUw6umvPkZyFZGUr+UfiH/aIISzmKCkMUpztqHB+uj+8RV+Ernj/cyWCl3mI2JuWSPaGYqBtLLTJlmUguuZdRe4DO3I5g14dwNSArMwcuylMvY2a7+8ZCtrlS56VTQpKyXYhnDNtbaOp4HUJ8pJCAokAlx6r8ncwE16DL9zH+MVpp0HIspWb3zn5E6RyNa1TFFSlOTckx1L/U0BXrMuY/WyD8zHMqWUpamSNC57HaMvkNuSRp8dVFsK4VSksokCwAuzDo+pMdDThI/2UyYVP6FG7tps+sZ+hokSEpWsZ5i2CJe//MzaCOgYoFSsPWVsk+Ur07Bxp1iqjxgScuUziwFgw2+zEqZcLLQwF9R8u8TSkQtFF0SypEW003SH0qLwZlSA0ehh8eLjbPJ8ny5RlSM7Np4ozJcH61AgVPEQ8jEoPRr8XO8i2UFJaEicohYzGwQiHJEKRCtBoVMnw+tmSFiZKWUqHGhHChuOkdH8Of6kSrJqkqlH+ZAzIfltUxzMiEIjv2OaT2fRCfH+GlP/AK2UO7j6ERlPEX+o1Gj/ANPmnrvcDKj/AKjr7RyJUeywkYKPQZPkqZbxfFptSsrmHskfCO0USBD2hDFG2+xUlFUixg84y5yFDmN9X1KpqUrlIWhY9K3IKVJ3brHO5S8pSoFlAv8AKOp4fMTNpE5gpiblIuO/SHxv0SyHNPF2DZpily9ALjlruIykmnURmCSQNSNo7HjVEiWMgO5Z9wdv0jM0WHIloy8vuQL7PEsmC5aLY8/40GfDtaZtKmYP4gQySXaYBwsCyh3hafBVV84pmKUiQHJVluQDoH17wEwLB5wqXkL8tP8A7g/Aoas0avHMZyjywr05W9CQGPcfpFk241Ii0lLRamV8mm/gyJOTKCUKdxMSkfzfi5bXWA9ZXKUlCUgITMcjS5OpJ7kt3gbUqXPASQbepG2b+pv2gshBQZaCoPlCSkhw5fIt+5b3jkBmdq1EjKpRISogPexIJD9bwOw+nClqmAsMwd9g/wCTQaq5hOUqSUnQgWFiQbbEEE/KIKCSFpUlJABu51tYM2pIMTatlE6RdlSlEhTH0qSCAS3O3IItpaNHhWMBU1Kion0FOROhIJu2zvAjBBlzqMwJGU3sQCS3pfU5bOYin4flcgMVWSk8bZlD5sIqTezTTsMpquQfPDzMx9QDLS2iQTqkHjmIMCzUwyVCsqQMwUo7be8DaWub0lBCgAAogkd07KHQwYrJqJ0vyZwSFLIyLINn3ITYdnaCl7Qt+jIeK2rZupKUvlAUVA9QSzfK0BfDGClK5gVqbfr+0aWbSmTNMkEEOGUkWV2JiSlIlzCprA+oO/2Yn8aclJlebUXFBGhwMzWSpS0lP4kNmLbOdu0ReJpoRh8xBUsrJCXWSo/FyegjU4JLK1iYlWVLC1j/AIEZj/VeYR5aHF1FRaDkfoXEr/JnOUpiVBhAm0K2kTLlyTMvBBFXaA6CXtEnmRrx+Q4qjDm8RTdotVE54orYkAlhzDvNN+sRGJZcvNlsOH41RGpPGkJDlCPRJFxykWB5hEw9o8UwaFUhISHR4iBTDZ4q6Q0Q5QjwEFoFjWhcpvbTWHR5oNC8mMCI0uH+Mv8AZycig5On9xGfSN4Fz5ImqcsEj2+sLJuPQ0UpfqClR4jm1KvSh73JNg/1i9SSp5VlnEJBZm1I69ooUMnJeW//ACbGLqKxRGliWB4PWBG+5M6TXUUa6XX+WBKQkEMxSkMVdVKVdoFzZKlKZIJ3YA2fodfaBtKlJclZzbm8WJdVlLhZ15JHz6xblZKg7htEspzpQS1gS4Xm7E+kRYrZSES8wmArLgpSMxQoXyuRcHppFnw1PE0DIy5nxkJKvS2gGw+cS4lh9XdRlAAELAfq993F+sdZ1GRq1jL5bP6XOj5gXsTdmI+cUcBkFE1gfidIJ2JF24DbwXVJK1EunMoqFrsRv1DkCI6eUmWsqKgFISVEkWBvuLZtG7wrWxk9UHaKTISjKsoZQdyC2UaewMWpkhC5ecpUwaxS4VaxKQw4YfOLHhTCFTked6cugGqWG7nXtF/FKGbLlBXmqWkNYgBLb9ht2g2roWn2ZqRmKUyhJIR6ll/hLnY/hTEFGMyGJILltSnqC+vvxF5OLU6x65iZRSBlSOB+FJJZj2gZRZFLJlrN3PlkOlXcgs/aCAfWhAAlLWUoLZVoAJSrqwjP41RTpAT5c8EXIJYq920jV1WFgyguTMZLkqDEAcgjmMhUNmIUQrW5Gv8AaBJDRZFgPiqop1hKiQ+u4V2bSHeIsSVUTM5J6ce0VKihmFlhISi7E9NhvFfK2peJq+mUtdoRoVoWFg0dyPQv5x4GFg0dyGCPEQ4QsCgtkZTCx5ULBSA2Oyx7LEpEeAinEz/JRHlhckTpQ4JcBr31PbrDQmG4CPMiLJC5YflhcsH4xPmGNq+v0aG5YkKYRi0c4gWVkM0smIqZVwhw3HJ6xJPUN4VUlSU5klzywEZ59mvG9Fyag6v7Ah36kRIKdTApQ1nUXcew2itQ1xSkhtd7M8SLSpamAKy2rs3W23XrAsemS1U9JR8JzFwGAb3eH4HgKpv9Nnvt1O0V8KwAzZyUrmKSgli34SIK+KvD0ynmiZKnrXSgpC8vxJ5Jto+8dvto7XSZq/A1PSyZyhMmAKYZTZKFPZhsT0joNOQqZbLlYA332DR89Y4VSZZWatE3MoeUlBCiUvfOPw2jeeEvEipUp1EqSLgkXTZgFHfiA1ybXs79MUxlfJRKq6mWokArUfSzhIY5QdiTccwDq6tAQUguSoIzLt6Wsw2OoePTq9S6xcy6sys5zD4jZgx0H7QNxBMwT1EhKWAdDOm/4b6G7xS9C1s7NgnpoZSUGwQlPp2PB6dYqYp4kkCT5aU+YtbpykskNus7dukAKHEj5QQlilCf+IHDPqkB9n3jB4rMlKq0onLmIkFKgVIuULOi1AfEH1hJRSVsaLt0jSp8PyijPMWhZLslJ06pB2HMACpKJuVxlGihrx2NofKwGXVeVR0ajOUFlU2qKChIT/KCdr6GNbU+B6b/AGxTLSrzJYbzFH1KPfQh4Kk2wNJAORiBCinzUmWSXcsFW0BYt7xF/sUPnMwZS7KLAB/wuP2j1ZgP8Ly0pHmg6F37dIHyZWQKlrSQWs1wD1eH37E16DGIzpKZOVABWbduoaMkqlUjUM/y/tFmnp1FeUpdzufyiWulqTYhTf1a+xjuwPSKSr7DsIRSYeExIqWRrwG++0U4EvlRBljxTEmWPNA4DfMiPLHssSR4CBxD8qZFlj0TNHoKiHmLkhQmJskKERdQPP5kQTDgIkKIclEMoiuRFlhMsTlMJlg8QciDLEc45RFpen39YozVOYnN0isNsoVCyIu06StLZwH3/QFte0IrICM922/SLeHzDMXdJCdgLW6ACMdbPRg9DabClq9KQSn71jZYB4ZAQVqzONuTtBfDaeWUJyS1JbUvZ+p3glTujU9nb5xWMEhZZGzKzqKZKUyTmIuAR84PYYpQQUrCMirhw7HcExBUlKiQoqD6HeAUioVTzilKVqQoh83w93uwhnoROwxXeFKRUtbSpZKsxcC47No0ZzBKMyyUKuizvpYWJ5jb+HMKmy0KUs2UpSmOgTrf56RJT0SZ8wZUOkXVoAeLRNcVse5VRmvD+FCcla1AjOt0mz2OoB7CLlPghmhRWABswDqVoCSTbQG1j0jUzqZILsBlFsug6D6RSpgSq1wAxB5N39o5O0F9gZFLMQlUo5Q+ihunRzwdYnwLCZdOvMtOdc6yHS9xcB2sWf5Rq6ugM2T6UesAZT2Lm51h+FTZgJBQw2sG00HEK5px0FQakD5FNKP8OX6FKBURwTrYtFGRRA/wELzZSCsk+rtlH5xJW4VULMyYU5ZhGQMq4RzlNjtHsPleSgAkFSgHJd1DTXUF4Kf0wNb2i5RU8tMxSWDpDuRp0P8AMOkZqvwuUtalGUTqAUmwvqP7walSTlmAn1NtcgfuIHimnIAUhWZJ3Tr/APZB/SHXYj/YwmP4YpHrS4Y2exHGkV6nFVTJYTMBzDRRF24fcd41XiFeYeoB7MpGt/5gdRGF/wBwUqUBdOjcdhtHdM5q4skCYUJh0u4h+WNSWjz2yIoj2WJskOCYPEXmVSiPFEWCmPTVFRclzzAcRlMq5Y9E2WPQOI3MnCYUIix5JZ2sd2hMrRZRMvIhywoTEoRChEGgciIJhMkWAiFCbG33vHUDkU5ss7B4YikyjMS54h02dlPaIqqqmFBcsknQD1H32EZM0lej0PGjq2Cgt5mnz5/SCtGwIJPbVvprAoObBr/IfvGpwvCwhKVrX6laDgcl4zxVm2zbYGsmWLAdzb5cxcmy2Y2PJP3tA7CAktlvl078lR27QVXNbqTqdyeEvtFX2SWyikZjp8xp1MEaanR6SUOxFyN4qKmB+o+X+Yvy5xUAPrydWECXQYhifNcMBqGA+9YZhUnyg1nJJJ77PEEmY4TYxYqfSE6xmf0aE/ZWrkhRIBa9+Pd4qSpIz7i4dtDbTtpEklQzjNry+v2Gjxnpzm5f6dhFEmtE272aTDC4Pdv0hyZQQtwGfXh4HYRVuooPsYL1OkZJJqRrg042MqFuHdjAOvlpFy179HOvYxPV1DCAeO1AypYPfrbvFsUHZHLNEVJOAmFKiQdAof8A6G4i5WOn1oNx8VnSruNoELKVFKgdt9YnqJhR6kqZxdJukjtsY0uO7M6kDMWnJJeZLDnRWl+CNPeM/iNJJyFaUBT/ABIa4OmZBi5j1Q4sSCNUkEpI6HUN10jOzawoSb+k3G6X3fjvBbo5IopTlLXbZxtFnLF7CcswETFBPG4v/K8JUUhSeU8xpwu1Rg8mPF2uillh2WCVLhmdBUDfYdueOIpZYsqfRmdrshKYblicphMsdQORBkj0T5Y9A4h5BvFcyFIlkDZLuCBbjmBRRC+Jp71QV6QVFPpAuABq50OmnaD2J1lKaZDoyTgBmUNFPoNbk2jNhz22mbPJ8VRinHt/1AU+VllZ7vt82iOlWSkFme1uOsSeI5hlSkyiQ5uU20Pw9H+sVMFmBSSkHQAnvuz3h1mvNx9CS8WvH+T2Xp8kpUBlIdIVqD7kD4YkMr+Cs5X67xPVyiqZL9Jcy3cDjsdS0UMVUUyRb8Wp3HDQJZf9OX2nR0MH+rD6asHJpCs2Ld4qV0kiyj77ewg5gtEFIzHfQDT+0UcZocoJc/r84zO2rZuUUtIB5ggu8Tf+IKUQSXL2B0Hf9oHzSQS4URDaZZC8zP32/eIcnZdRVHS8HnkJSSogs4SPiPVXD8CNLT5mBUbkWAOg6naMT4RAmkgmwZSufsmNsmocskM1gdn/AMaCNSdozyVMSYhgWdSifrwOGieiSopypPqBcEbdoiRPYsnQC+7nvFadWKlpJHqA2dn7EaQWnRyqzSUgJIFxrffk94MiUlQYg3FldeogJg1V5qErDsoO5L+z/SHeJMfRQ0hnKBUXypS+qjo54jJkuzTCkiagwQS1rMxQIKnF9v0hy5NOma5Ou36xxuR4jn1C1Lmz1a/CCQkDgdovysZSmxmH/qh4rltsWScdJHb6GjSg50lwwYf3iaufJcewOkcq8OeKFSVlSZhWkXUhRsRu3Co6ZUVYWEqHwqTmHYh4hkxtSW7LwyJxeqAOITwli3S2xO56RSFPmdRDgNoT9IkrZ4ExCGBKnuSwYbxQqqnI4SpzsxjVBOtGWfeypVoQk20d2EMsbD1p3v8Avv0MVEzAbKcHUKb84dPrciSWAmJDhQ3HBG4i9ESti1KQkqSXGz/R+D9IzFJTGYeCCxtZ+FDeCdbjKJ4ASClV3A0J0+xEuES1U8wKUxCrFx8n/eJvbKK0iM+HSUnKkg/0mw7cCBgrpoPkzALdLx1CRUIGVyG5+9RGY8cUqMyVoCNQ7aw0f1aJZdwYExBbeUlJbMkchRD3AfVjd4jmSSDfh35HMT+IZspJlKQ6i4z5D6G/CCO47wtQpKlOAwa4vrvreKeNK5SIedHjjgUymPZYnUAXIDPpEaiAoJJAcEueka5SUVbPOipSdIaJClA5RcAm0ei1SpvdWUAOSQSB1IF267QsZPIzOEqR6Ph4I5IXJezI4hWeZMUsAuS7gje73306Q6fWTFpS5skMA9m6toXhKehnn4ZaiHG1tX0h/mlSlEpCB8ISAEoA1IaPP4yXZ67nCtNa/dDcQr1Tsrh8qQAkPlAA2eHYbWKkrSbEC99Dbdw8IMJnNmTKWU6hSbj6RVWsuXGljz/mDuLs78Jriqo0SMSy1KJoAAJKsoclIAuxLW7RB4gxUVCwUjKOAXFzzvAZVQCoFII2Ghtx7xaoQFzU93joyb0LOCikzS00jJKAzFyHtzAqupFG/q9z9GgvWV+Qadm1+kCKmpVMFkKPzjRKjOgFPlM7xR81nYa6fqYI1absU/W8VvJTxEJLeh4NJbCGA4r5Xw/ESw6/2do6hQJzS0B7WUo7kxx6jSEKzGwB9/b75jf4Fihmh1FkgBKR0a/0EVwv0xcqXaNKWUwSbEl4dOTLQCk6ARRTXDMcvpRLF+quPaKRmKmKJIYPv9IuRDnh+ZkQUJYAElLvYEu3WKX+oSPPoVhJUVIZbHUtqAO0DZFaZKgctnu+4MXazEUKSWVdvb3P6RNxTsopNUzi84rHqS+XnaESVKUANS0aPF8MQVqKCUuXIHwv22gbKwYqUdgNT16RgcGnR6KmnsdhOH1PnBLKFw99eg5JePpCVUlKEJI0QEv1ZmjlPgLC5NPOE1RUuaLJUrRD/wAo/mvrHRamslyR5i1/8oBuXtpF4Y6WzNkyXLRRxOeETzMy2SjLa9zvfgQMQSC6Ugjhto8J5VMOxP2GizMkKSkTE7EZh96RrilEyN2RqIe49J/7Vd/1jM43WZdwRdh03H3xGjxuvQEFQ1y3G5T06gxz2VTGfMKc+pdJ6fvCzk+hoRXZNgtL5k7WxNu+zxvK2qQhAEyW4ADkbdWF2ilgOCplepn2P3tBDG8PTkzBWW29wfnpHRXFUdJ8nZXmTJakDLNU3H7QHxlKGOZZIbXf5QWwScEpynL994EeKZ8gi9jzr+UNLoVdmYr6kZ0kKvYOFEGz3I003MH8Rq0CUVqW5KTpYjYE2tfnVoxk0MqxLG32OkMQqYoKYFmAUXswsxG/aMccjg3Xs2SwRyRjy9bNZg9T5ksEhstiSb25G1uIGYtXkzJeUaBwSBcPq+9xAikxFaUGWlRym/fYPxDJrEggqv10PAc6Q8/I5QjH6J4/C4ZZTfvo0eK4kgSwhiVLF1EMkNqwfmPQIl4dOISsSpitbH4X7E6GPQs3PI+TTHxRxYY8VJHVaPA1TmmyjllF/Utx8szOIQYBTpWSqdSlXROZX03i4nwkZTqQc6z/APJMWoa75iR9IFY0mfIGeeiUJYPxJyhuPUkOmNkJyn3Jf5/M8qeKOHcYv+v/AEW04W+ZMiYlSkMSgApLcZWuOoiuvA5c9Oacken+m/brEZ8UyxlSpOUqHpIWCT1AOsVcTxpcyalIC1hitIRlCARoohTJKn2J2gTlkSrsfFjwyld0VK7w7IS58spDONH+lozciSROZABN/aNitajJP+4WUruSAUEFV7SwnRGhvGNpZn8YuWHLwktpNqisNSaUrX8wjPUlJ9QdX0hnnZgzhI7hzFbEa1BtLTm67e28QUYKtQE9YS9mgrV6QPhVFCaotb8oPVclGVks/P7QBmBixL8QkgohHXa/R4IUGIGXlLmzsBDUSX2Dw4IyliLgwFFo5yVGuwOuSoFKiwSnOrru3W/5Rfl1fmS87N629v8AEYyhUQ/9RaNFQkeSpOzj6xeEmSlFdj8RWVJKhtmgKmQVghThtCDcCDUhBKFEi2b6G0VgkANuxHy/WBJXspF1ozVVgZdxMUein/N4fh3hsrJBd9ilRb3GsF5xYtzFikmEKdJbQFrRL443so8kq0EMJ8MIkkKmTlrUfwJJCAW3vfa0OrZ2ihpp0iGXiCsxG2n94hTMBlNuNYt+KVIj+TdsK0lS6H3S7Pu2qTFVfi0JCrj1BiDu32x+cZSfjSk5kbG/94HyJZJJVvt7QjyXpBWNLbCNfUrmL1LG6SNug9vygvhOB5gFqdxcG4tu/F4HUkkApIcACx/KNLS5wxe3IOn7iDCO7Z0nrRpcMCgns2tzE+KqCpd2Y/iH6iKGHTUpspw+72f8ofilcEOHCgbkbEdRz1EVa2ST0RYciWRkIuIy3i7Cin1IDjtBeStd1J+HUWu3XnvAmsxbMSAWVpeOnTR0dEWB+FJlTLzGWbaEEA/Im8XZH+nk0HL5mUF9U5u5IBYsN7QyR42NMkoUkEpZxl1fT1AsPeCH/jy6tGRCSgq/BMUUpJ78NtcRFwT6SbGjkcabbSf30C6rwLLV6pU9awNbIAWpyCZYHwhxoXhaTA0ynIlnMN1i/s+kaWiwWoCwpS0hKQAhKVrAQbEqTtfRja0VfEHi9Mo5E5lsWXyDpl0uonjpBxSji21/uL5EZ5nUZP8AkvYPXKVqe8LGpo/DPnJTNnZpJUAShwVB7srYFtQI9G1eVD/EeVLwMqfQmJ10+copkvbXLsP6ibCMlja6pKVIWlSgX1UCCW+saefjic/kUqXAextmVupRN7cQOVOmqcrCCARZrOPtoSEXVVX9y+Savlbf/NGJosFRZS0lwLBR1/qPHAEGkTSE5ATld8r+0H6fw/OrB5iJcuUnQlzlJGpCNR2gvS+DpEtDTVqmTDqoekDokcdTeOjPFi/Fd+/Y04Z/IuT69ejF5A28Z6uy+YVWbgaRt63AUSlmY6lghgCbAdRZzGWxinS+YAA/QQmd80mHxYPHJxbJKOfKUlgPUdminWSySwDjc7fIRTpVtMDtfVoKV+JJFkJfk6D2jNdno9Atc4iwB++YpmWSrM4/WL8+pAGl94p1KnS4DwrO6ZZowNCR99YmQkKOoITuzP8AvA6nVlZ06wQl1LEgJ9zqBDIFUWpk0CSEp+NR9R4Tw/WDVOEppwon0gDuSd/0gDOqQpASA3QbkwSdU6UmUltdOoDmHiwNBOhmhSFcMT3IgfVyyCEgOyQT7xcpZQS6eA3yAidSQVLHIHyh6tCp0wWqj9csv3+UOXSnzwNiIepV1KNnLBuR/YRWmYrlU7aff6QmkNskEtXmLS1mtAmoRMAUrYODBWVjCQrORc3+/nDaqckypjakad4DSoKf2Y6pQr4mibDcoWHV9fu8EsLQg2WPT9iH1WFoRMSAXSoOk7tweoiXH2Py9GgpaVCk+i7h24O7dDD8JqSCUF0kbHQj9ojocLtZRTwRzx9YISqUo9SznbnWNMU+yLa6CVZPQmSbhJIs/wAJtoeI5+mqmeaASQxtuGfR4uY/VpmKaWSG/CdPbiJMDowWK4Vvk6ClSNbSgBGbpZvv6QKxLDUKT5iPiUQGs4PR4MTEpQnS28ZPEKlSJ4KS6Rb2fcc9YbI6jsSCtk68AmyTnmpWyi/qSAkmzORYswYQ7PdotY54jdD51hJSBkOhI4A094HUVSlacxBucrdeH46xpwyjH8ffZ53kRnP8tuPSf/nWi2MV8tKiZvp0N310gv4Ko6Z1Vs1SVkH+E/wI/rY6r67QDNMhmCUs2jDSH0OBLnq8uUvIGuHOUAdPfaFz43KO1oPjZoxl+Ld/ua7FPFqFOhN3445j0Z6q8PzpCSVAEIYKIVcA6as/tHorixwUdEs+TI5bP//Z);
  background-attachment: fixed;
}
.well{
  border-radius: 30px;
}
.content,.content1 {
  max-height:0px;
  overflow: hidden;

}
.drop,.menu {
  background-color: #4286f4;
  border-bottom: 2px solid black;
  box-shadow:  3px white;
  color: #ffffff;

}
.drop ul, .menu ul {
  list-style-type: none;
  padding:0px;
}
.drop ul a, .menu ul a  {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #ffffff;
}
.drop label,.menu label{
  display: block;
  cursor: pointer;
  padding:30px 0px 30px 30px;
}
input#drop,input#menu {
   display: none;
 }
 /* toggle effect*/

input:checked ~ label{
  background:url("../ha/img/download.png")no repeat left center;
}
input:checked ~ .content, input:checked ~.content1 {
  max-height: 100%;
}
#content {
  /* transform: scale(1); */
  /* transition:rotate */
  background-color: white;
}

/*.eric:hover .dropdown-content,.dinah:hover .menu-content {
  display: block;
}*/

.footer{
  background-color: #000864;
  color: white;
  padding: 70px;
  width: 100%;

}
.btn{

}
#founder{
  text-align: center;
  padding-right: 80%;
}
#about{
  font-family: serif;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmbnVBc65FPv17zJMqthP6yPXQtjmvDPw-3xRAhsrQEv6rgMrVsw);
  color: white;
  background-clip: border-box;

}
#drop{
  border-radius: 20%;
}
body
{
    background-color: #1b1b1b;
    /* padding-top: 40px; */
}
.form-signin {
    max-width: 280px;
    padding: 15px;
    margin:100px;
    margin-top:10px;
  }

.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.panel-default {
opacity: 0.8;
/*margin-top:30px;*/
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('http://blog.transfer-iphone-recovery.com/images/photo-with-blur-background.jpg');
    background-repeat:repeat;
  }


#fullscreen_bg{
  display: none;
}

ul{
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

li a{
  background: blue;
  padding: 30px;
  border-radius: 20px;
  padding-left: 5px;
}
/*CONTACT SECTION STYLES*/

#contact {
background-color: #0727da;
/*    margin-right: 50px;*/
margin-left: -20px;
padding: 0;
-webkit-background-size: cover;
background-size: cover;
-moz-background-size: cover;
background-attachment: fixed;
font-size: 20px;
color: #72e911;
}

#contact .overlay {
    background-color: rgb or view ï¿¼command line instructions.
a(6, 16, 163, 0.1);
    padding-top: 90px;
    color: #fff;
/*        padding-bottom: 100px;*/
}

/*FOOTER SECTION STYLES*/

footer {
font-size: 25px;
text-align: center;
font-weight: 1000;
background-color: rgba(11, 36, 119, 0.7);
-webkit-background-size: cover;
color: rgb(250, 253, 249);
min-height: 210px;
}

footer a, footer a:link {
    text-decoration: none;
    color:#78f313;

}

.owner a:link, a:hover{
    color:#09f061;
    opacity: 0.7;
}
.owner {
    font-size: 30px;
}

footer, .social {
margin-top: -200px;
padding-top: 140px;
}

.social, .fa {
font-size: 85px;
margin-left:5px;

}

.facebook, .instagram, .twitter, .fa {
margin-right: 20px;
}
.col-md-6{
  font-size: 15px;
}
.social{
  font-size: 50px;
}
